
@{
    ViewData["Title"] = "MyProfile";
    Layout = "~/Views/Layouts/Layout.cshtml";
}

<h2>MyProfile</h2>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layouts/Layout.cshtml";
}



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<style>

    * {
        box-sizing: border-box;
    }

    body {
        background-color: #f1f1f1;
    }

    #regForm {
        background-color: #ffffff;
        margin: 100px auto;
        font-family: Raleway;
        padding: 40px;
        width: 70%;
        min-width: 300px;
    }

    h1 {
        text-align: center;
    }

    input {
        padding: 10px;
        width: 100%;
        font-size: 17px;
        font-family: Raleway;
        border: 1px solid #aaaaaa;
    }

    select {
        padding: 10px;
        width: 100%;
        font-size: 17px;
        font-family: Raleway;
        border: 1px solid #aaaaaa;
    }
    /* Mark input boxes that gets an error on validation: */
    input.invalid {
        background-color: #ffdddd;
    }

    /* Hide all steps by default: */
    .tab {
        display: none;
    }

    button {
        background-color: #4CAF50;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        font-size: 17px;
        font-family: Raleway;
        cursor: pointer;
    }

        button:hover {
            opacity: 0.8;
        }

    #prevBtn {
        background-color: #bbbbbb;
    }

    /* Make circles that indicate the steps of the form: */
    .step {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbbbbb;
        border: none;
        border-radius: 50%;
        display: inline-block;
        opacity: 0.5;
    }

        .step.active {
            opacity: 1;
        }

        /* Mark the steps that are finished and valid: */
        .step.finish {
            background-color: #4CAF50;
        }
</style>


<form id="regForm" method="post">
    <h1>User Applicant:</h1>
    <!-- One "tab" for each step in the form: -->
    <div class="tab">
        Biodata:
        <p><input placeholder="User" name="User_Id" id="User_Id"></p>
        <p><input placeholder="Email" name="Email" id="Email" disabled></p>
        <p><input placeholder="Status" name="Status" id="Status" disabled></p>
        <p><input placeholder="Number Of Id Card" name="IdCard" id="IdCard"></p>
        <p><input placeholder="First Name" name="FirstName" id="FirstName"></p>
        <p><input placeholder="Last Name" name="Last Name" id="LastName"></p>
        <p><input placeholder="Place Of Date" name="PlaceOfDate" id="PlaceOfDate"></p>
        <p><input type="date" placeholder="Birth Date" name="BirthDate" id="BirthDate"></p>
        <p>
            <select name="gender" id="Gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </p>
        <p>
            <select name="Religion" id="Religion">
                <option value="Islam">Islam</option>
                <option value="Katolik">Katolik</option>
                <option value="Protestan">Protestan</option>
                <option value="Budha">Budha</option>
                <option value="Hindu">Hindu</option>
                <option value="Khonghucu">Khonghucu</option>
            </select>
        </p>
        <p><input placeholder="Phone Number" name="PhoneNumber" id="PhoneNumber"></p>
        <p><input placeholder="Address" name="Address" id="Address"></p>
        <p>
            <select name="MaritalStatus" id="MaritalStatus">
                <option value="Single">Single</option>
                <option value="Menikah">Menikah</option>
                <option value="Duda">Duda</option>
                <option value="Janda">Janda</option>
            </select>
        </p>
    </div>

    <div class="tab">
        Last Education:
        <p>
            <select name="Level" id="Level">
                <option value="SMA">SMA</option>
                <option value="SMK">SMK</option>
                <option value="D1">Diploma 3</option>
                <option value="S1">Strata 1</option>
                <option value="S2">Strata 2</option>
                <option value="S3">Strata 3</option>
            </select>
        </p>
        <p><input placeholder="Name School" name="Name" id="Name"></p>
        <p><input placeholder="Major" name="Majors" id="Majors"></p>
        <p><input placeholder="Year Of Entry" name="YearOfEntry" id="YearOfEntry"></p>
        <p><input placeholder="Graduation Year" name="GraduationYear" id="GraduationYear"></p>
        <p><input placeholder="Place" name="Place" id="Place"></p>
        <p><input placeholder="Final Value" name="FinalValue" id="FinalValue"></p>
    </div>

    <div class="tab">
        Work Experience:
        <p><input placeholder="Company Name" name="CompanyName" id="CompanyName"></p>
        <p><input placeholder="Last Position" name="LastPosition" id="LastPosition"></p>
        <p><input placeholder="Type Of Bussiness" name="TypeOfBussiness" id="TypeOfBussiness"></p>
        <p><input placeholder="Year Started Working" name="YearStartedWorking" id="YearStartedWorking"></p>
        <p><input placeholder="Year Of Resign" name="YearOfResign" id="YearOfResign"></p>
        <p><input placeholder="Last Salary" name="LastSalary" id="LastSalary"></p>
    </div>

    <div class="tab">
        Document:
        <p><input type="text" placeholder="Id Card" name="fIdCard" id="fIdCard"></p>
        <p><input type="text" placeholder="Resume" name="fResume" id="fResume"></p>
        <p><input type="text" placeholder="CV" name="fCV" id="fCV"></p>
        <p><input type="text" placeholder="Family Card" name="fFamilyCard" id="fFamilyCard"></p>
        <p><input type="text" placeholder="Transcripts" name="fTranscripts" id="fTranscripts"></p>
        <p><input type="text" placeholder="Ijazah" name="fDiploma" id="fDiploma"></p>
        <p><input type="text" placeholder="Certificate" name="fCertificate" id="fCertificate"></p>
    </div>

    <div style="overflow:auto;">
        <div style="float:right;">
            <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
            <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
        </div>
    </div>
    <!-- Circles which indicates the steps of the form: -->
    <div style="text-align:center;margin-top:40px;">
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
    </div>
</form>


<script>
    var currentTab = 0; // Current tab is set to be the first tab (0)
    showTab(currentTab); // Display the current tab

    function showTab(n) {
        // This function will display the specified tab of the form...
        var x = document.getElementsByClassName("tab");
        x[n].style.display = "block";
        //... and fix the Previous/Next buttons:
        if (n == 0) {
            document.getElementById("prevBtn").style.display = "none";
        } else {
            document.getElementById("prevBtn").style.display = "inline";
        }
        if (n == (x.length - 1)) {
            document.getElementById("nextBtn").innerHTML = "Update";
            document.getElementById("nextBtn").onclick = Edit;
        } else {
            document.getElementById("nextBtn").innerHTML = "Next";
        }
        //... and run a function that will display the correct step indicator:
        fixStepIndicator(n)
    }

    function nextPrev(n) {
        // This function will figure out which tab to display
        var x = document.getElementsByClassName("tab");
        // Exit the function if any field in the current tab is invalid:
        if (n == 1 && !validateForm()) return false;
        // Hide the current tab:
        x[currentTab].style.display = "none";
        // Increase or decrease the current tab by 1:
        currentTab = currentTab + n;
        // if you have reached the end of the form...
        if (currentTab >= x.length) {
            // ... the form gets submitted:
            document.getElementById("regForm").submit();
            return false;
        }
        // Otherwise, display the correct tab:
        showTab(currentTab);
    }

    function validateForm() {
        // This function deals with validation of the form fields
        var x, y, i, valid = true;
        x = document.getElementsByClassName("tab");
        y = x[currentTab].getElementsByTagName("input");
        // A loop that checks every input field in the current tab:
        for (i = 0; i < y.length; i++) {
            // If a field is empty...
            if (y[i].value == "") {
                // add an "invalid" class to the field:
                y[i].className += " invalid";
                // and set the current valid status to false
                valid = false;
            }
        }
        // If the valid status is true, mark the step as finished and valid:
        if (valid) {
            document.getElementsByClassName("step")[currentTab].className += " finish";
        }
        return valid; // return the valid status
    }

    function fixStepIndicator(n) {
        // This function removes the "active" class of all steps...
        var i, x = document.getElementsByClassName("step");
        for (i = 0; i < x.length; i++) {
            x[i].className = x[i].className.replace(" active", "");
        }
        //... and adds the "active" class on the current step:
        x[n].className += " active";
    }
</script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="~/Scripts/MyProfileScripts.js"></script>
