
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layouts/Layout.cshtml";
}

<h2>Index</h2>


<div class="row page-titles">
    <div class="col-md-6 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Table Data table</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active"> @ViewBag.Title</li>
        </ol>
    </div>

    <div class="col-md-6 col-4 align-self-center">
        <button id="btncreate" data-toggle="modal" data-target="#exampleModal" class="btn pull-right hidden-sm-down btn-success"><i class="mdi mdi-plus-circle"></i> Create New</button>
    </div>


</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Data Users</h4>
                <div class="table-responsive m-t-40">
                    <!--table -->
                    <table id="ut" class="display nowrap table table-hover table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Email</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>





<!-- Modal Bootstrap -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create New</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>

                    <div class="form-group">
                        <input type="hidden" class="form-control" id="Id">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Email : </label>
                        <input type="text" class="form-control" id="Email">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Password : </label>
                        <input type="text" class="form-control" id="Password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="Save()" id="Save">Save</button>
                @*<button type="button" class="btn btn-warning" onclick="Edit()" id="Update">Update</button>*@
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script src="~/Scripts/UserScripts.js"></script>
}



